* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: Gilroy;
}

/* --------------------Header--------------------- */

/* ------[_logo-header_]------ */
.logo {
	display: flex;
	justify-content: space-between;
	padding: 40px 100px 0 100px;
}

/* ------[_background-header_]------- */
.background-header {
	background-image: url("header-photo.png");
	width: 100%;
	height: 350px;
	background-size: cover;
	margin-top: 30px;
}
.background-header > h1 {
	text-align: center;
	font-family: Gilroy;
	color: #fff;
	font-size: 48px;
	padding-top: 80px;
}
.dolor,
.tempor {
	display: block;
	text-align: center;
	font-family: Gilroy;
	color: rgba(255, 255, 255, 0.40);
	font-size: 26px;
}

/* ----------------Center-content------------------- */
.rod_2 {
	width: 55%;
	margin: 50px auto 0 auto;
	display: flex;
}
/* --------[_text-zone_]-------- */
.text-zone {
	width: 40%;
	padding-top: 50px;
}
.id > h1,
.phone-info > h1,
.online-service > h1 {
	margin-top: 50px;
	color: #1F3F68;
	opacity: 0.8;
}
.id {
	margin-top: 35px;
}
.convallis {
	display: block;
	color: #1F3F68;
	font-size: 18px;
	opacity: 0.6;
}
.volutpat {
	display: block;
	color: #1F3F68;
	font-size: 18px;
	opacity: 0.6;
	margin-top: 10px;
}
.phone-info {
	margin-top: 100px;
}
.phone,
.email_1,
.email_2 {
	display: flex;
	margin-top: 10px;
}
.phone > span,
.email_1 > span,
.email_2 > span {
	color: #1F3F68;
	font-size: 20px;
	padding-left: 8px;
}


/* --------[_user-name_]-------- */
.user-name {
	width: 60%;
	box-shadow: 5px 10px 50px 0px rgba(16, 112, 177, 0.20);
	border-radius: 12px;
}
.user-name > h1 {
	color: #1F3F68;
	letter-spacing: 0.8px;
	margin: 50px 0 0 50px;
}
.full-name,
.Email,
.Message {
	display: block;
	margin: 50px 0 0 50px;
	letter-spacing: 0.64px;
	color: #1F3F68;
	opacity: 0.8;
}
.your-name-block,
.your-email-block {
	width: 80%;
	height: 80px;
	border: 1px solid #356EAD;
	margin: 10px 0 0 50px;
	border-radius: 10px;
	padding: 25px 0 0 40px;
	opacity: 0.4;
}
.your-name-block > span,
.your-email-block > span,
.your-message-block > span {
	font-size: 18px;
	cursor: pointer;
}
.your-message-block {
	width: 80%;
	height: 150px;
	border: 1px solid #356EAD;
	margin: 10px 0 0 50px;
	border-radius: 10px;
	padding: 25px 0 0 40px;
	opacity: 0.4;
}
.end-button {
	width: 80%;
	height: 60px;
	border: 1px solid #356EAD;
	margin: 20px 0 0 50px;
	border-radius: 10px;
	text-align: center;
	color: #fff;
	font-size: 22px;
	background-color: #5A98D0;
	cursor: pointer;
	box-shadow: 5px 20px 50px 0px rgba(16, 112, 177, 0.20);
}

.map > img {
	width: 55%;
	display: block;
	margin: 70px auto 0 auto;
	height: 500px;
}

/* -----------------------Footer-------------------------- */
.rod_5 {
	width: 85%;
	background-color: #316099;
	border-radius: 0 200px 0 0;
	margin-top: 100px;
}
/* -------(_Top content for rod_5_)------- */
.intersted {
	width: 75%;
	padding-top: 80px;
	display: flex;
	border-bottom: 1px solid #fff;
	height: 500px;
}
.footer_text {
	margin-left: 180px;
}
.woek, .team {
	display: block;
	color: #fff;
	font-size: 38px;
	font-weight: 700;
	font-family: Gilroy;
}
.footer_text > p {
	color: #fff;
	width: 500px;
	font-size: 18px;
	opacity: 0.6;
	margin-top: 60px;
	font-family: Gilroy;
}
.talk {
	width: 200px;
	height: 60px;
	display: block;
	background-color: #5A98D0;
	border-radius: 12px;
	border: 1px solid #5A98D0;
	color: #fff; 
	font-size: 20px;
	cursor: pointer;
	margin: 50px 0 0 387px;
}

/* ------(_Bottom content for rod_5_)------- */
.afrianska {
	display: flex;
	justify-content: space-between;
	margin-top: 80px;
	padding-left: 180px;
	width: 70%;
}
.afrianska-logo {
	display: flex;
	width: 200px;
}
.afrianska-logo > span {
	font-size: 30px;
	font-weight: 700;
	color: #fff;
	display: block;
	padding: 5px 0 0 10px;
	font-family: Gilroy;
}
.letter-row, 
.letter-row-2,
.letter-row-3 {
	display: flex;
	flex-wrap: wrap;
	width: 300px;
	margin-top: 30px;
	font-family: Gilroy;
}
.A, .T, .E {
	color: #fff;
	font-size: 18px;
	font-family: Gilroy;
}
.dolor {
	color: #fff;
	font-size: 18px;
	padding-left: 25px;
}
.consectetur {
	display: block;
	color: #fff;
	font-size: 18px;
	padding: 10px 0 0 40px;
}
.phone-number,
.mail {
	color: #fff;
	font-size: 18px;
	padding-left: 30px;
}
.reserv {
	display: block;
	color: #fff;
	font-size: 18px;
	margin: 120px 0 30px 0;
	opacity: 0.4;
	font-family: Gilroy;
}

/* --(_footer-row_2_)-- */
.about-us,
.follow_us {
	color: #fff;
	font-size: 24px;
	font-weight: 600;
	padding-left: 40px;
	font-family: Gilroy;
}
.about-us-table > ul > li,
.follow-us-table > ul > li {
	list-style: none;
	color: #fff;
	margin-top: 20px;
	font-size: 18px;
	font-family: Gilroy;
}
.about-us-table,
.follow-us-table {
	margin-top: 50px;
	font-family: Gilroy;
}