* {
	box-sizing: border-box;
}
body {
	padding: 0;
	margin: 0;
	font-family: Gilroy;
}

/* ---------------Header----------------- */
.rod_1 {
	background: linear-gradient(0deg, #98C3E8 28.39%, rgba(152, 195, 232, 0.00) 100%);
}
.logo {
	display: flex;
	justify-content: space-between;
	padding: 40px 100px 0 100px;
}
.tool {
	display: block;
	font-family: 'Roboto Serif', serif;
	font-size: 64px;
	color: #1F3F68;
	font-weight: 400;
}
.content-text {
	margin: 100px 0 0 250px;
}
.content {
	display: flex;
}
.content-text > p {
	width: 600px;
	font-size: 21px;
	color: #1F3F68;
	display: block;
	margin-top: 60px;
}
.content-text > button {
	padding: 15px 30px 15px 30px;
	background-color: #5A98D0;
	cursor: pointer;
	border-radius: 12px;
	color: #fff;
	font-size: 21px;
	border: 1px solid #5A98D0;
}
.big-illustration > img {
	margin-top: 60px;
	width: 800px;
}


/* ----------------More sites---------------- */
.rod_2 {
	width: 60%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	margin-top: 130px;
}

/* ---(_info_1_)--- */
.info_1 > p {
	color: #316099;
	font-size: 36px;
	width: 360px;
	font-weight: 700;
}
.information_2 {
	width: 380px;
	border-radius: 12px;
	box-shadow: 5px 20px 50px 0px rgba(16, 112, 177, 0.20);
	padding: 35px;
	margin: 200px 0 0 120px;
}
.information_2 > img {
	display: block;
	margin: auto;
}
.business {
	display: block;
	color: #1F3F68;
	font-weight: 700;
	font-size: 22px;
}
.information_2 > p {
	color: #1F3F68;
	font-size: 18px;
}


/* ---(_info_2_)--- */
.information {
	width: 380px;
	border-radius: 12px;
	box-shadow: 5px 20px 50px 0px rgba(16, 112, 177, 0.20);
	padding: 35px;
}
.information > img {
	display: block;
	margin: auto;
}
.bring {
	color: #1F3F68;
	font-size: 22px;
	display: block;
	font-weight: 700;
}
.information > p {
	font-size: 18px;
	color: #1F3F68;
}
.learn-more {
	display: flex;
	justify-content: space-between;
	width: 150px;
	margin-top: 50px;
}
.learn-more > a {
	color: #5A98D0;
	font-size: 20px;
	text-decoration: none;
}


/* ----------------Our Finished Project------------------ */
.rod_3 {
	width: 70%;
	margin: 150px auto 0 auto;
}
.text {
	display: flex;
	justify-content: space-between;
}
.big-txt {
	display: block;
	font-size: 36px;
	color: #1F3F68;
	font-weight: 700;
}
.small-txt > p {
	display: block;
	width: 600px;
	font-size: 18px;
	margin: 0 250px 0 0;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	line-height: 26px;
	color: #1F3F68;
	letter-spacing: 0.8px;
}


/* -----[_ackground_]----- */
.background {
	margin: 100px auto 0 auto;
	width: 80%;
	height: 600px;
	background-image: url("background.png");
	background-size: cover;
	border-radius: 12px;
}

.gradient-color {
	height: inherit;
	background: linear-gradient(90deg, #1F3F68 0%, rgba(31, 63, 104, 0.37) 99.82%);
	width: 100%;
	border-radius: 12px;
	display: flex;
}
.art {
	margin-top: 200px;
	padding-right: 100px;
	width: 50%;
}

.home {
	margin: 40px 0 0 60px;
}
.home > h1 {
	color: #fff;
	letter-spacing: 1.4px;
	font-size: 36px;
	font-weight: 500;
}
.home > span {
	display: block;
	color: #fff;
	font-size: 18px;
	margin-left: 190px;
}

/* -----[_Add info_]----- */
.add-info {
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
}
.bg_1 {
	background-image: url("iphonex.png");
	width: 550px;
	height: 420px;
	background-size: cover;
	border-radius: 12px;
}
.bg_2 {
	background-image: url("upload.png");
	width: 550px;
	height: 420px;
	background-size: cover;
	border-radius: 12px;		
}
.bg-color {
	background: linear-gradient(316deg, rgba(66, 165, 245, 0.40) 0%, rgba(21, 101, 192, 0.60) 77.52%);
	width: 100%;
	height: inherit;
	border-radius: 12px;
}
.sparklite {
	color: #fff;
	display: block;
	padding: 30px 0 0 50px;
	font-size: 32px;
}
.marketplace {
	color: #fff;
	display: block;
	margin: 40px 0 0 50px;
	font-size: 22px;
}
.rapetition {
	color: #fff;
	display: block;
	padding: 30px 0 0 50px;
	font-size: 32px;
}
.board {
	color: #fff;
	display: block;
	margin: 40px 0 0 50px;
	font-size: 22px;
}


/*-----------------Footer--------------------*/
.rod_4 {
	width: 100%;
	background-color: #5A98D0;
	border-radius: 200px 0 0 0;
	margin-top: 200px;
}
.rod_5 {
	width: 90%;
	background-color: #316099;
	margin-top: 150px;
	border-radius: 0px 200px 0px 0px;
	padding-bottom: 100px;
}

/*-----[_Footer text_]-----*/
.footer-text {
	display: flex;
	justify-content: space-between;
	width: 50%;
	margin-left: 180px;
}
.our {
	margin-top: 100px;
}
.beloved {
	display: block;
	color: #fff;
	font-size: 40px;
	font-weight: 700;
	width: 383px;
}
.client {
	display: block;
	color: #fff;
	font-size: 40px;
	font-weight: 700;
}
.footer-text > p {
	display: block;
	color: #fff;
	font-size: 18px;
	width: 540px;
	margin-top: 100px;
	letter-spacing: 0.8px;
	line-height: 30px;
	opacity: 0.6;
}

/*  -----[_row group_]----- */
.row-group {
	width: 1000px;
	height: 260px;
	margin: 200px 0 0 180px;
}
.client-row {
	border-right: 1px solid #fff;
}

/* -----(_top-group_)----- */
.top-row {
	width: 100%;
	height: 50%;
	border-bottom: 1px solid #fff;
	display: flex;
}
.client-row,
.client-end {
	width: 25%;
	height: 100%;
	color: #fff;
	font-size: 22px;
	text-align: center;
	padding-top: 50px;
}

/* -----(_bottom-group_)----- */
.bottom-row {
	display: flex;
	width: 100%;
	height: 50%;
}
.more-client {
	color: #fff;
	text-align: center;
	background-color: #1F3F68;
	font-size: 22px;
	padding-top: 50px;
	width: 250px;
	opacity: 0.7;
}

/* -----[_rod-block-5_]----- */

/* -------(_Top content for rod_5_)------- */
.intersted {
	width: 75%;
	padding-top: 100px;
	display: flex;
	border-bottom: 1px solid #fff;
	height: 500px;
}
.footer_text {
	margin-left: 180px;
}
.woek, .team {
	display: block;
	color: #fff;
	font-size: 38px;
	font-weight: 700;
}
.footer_text > p {
	color: #fff;
	width: 500px;
	font-size: 18px;
	opacity: 0.6;
	margin-top: 60px;
}
.talk {
	width: 200px;
	height: 60px;
	display: block;
	background-color: #5A98D0;
	border-radius: 12px;
	border: 1px solid #5A98D0;
	color: #fff; 
	font-size: 20px;
	cursor: pointer;
	margin: 50px 0 0 387px;
}

/* ------(_Bottom content for rod_5_)------- */
.afrianska {
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
	padding-left: 180px;
	width: 80%;
}
.afrianska-logo {
	display: flex;
	width: 200px;
}
.afrianska-logo > span {
	font-size: 30px;
	font-weight: 700;
	color: #fff;
	display: block;
	padding: 5px 0 0 10px;
}
.letter-row, 
.letter-row-2,
.letter-row-3 {
	display: flex;
	flex-wrap: wrap;
	width: 300px;
	margin-top: 30px;
}
.A, .T, .E {
	color: #fff;
	font-size: 18px;
}
.dolor {
	color: #fff;
	font-size: 18px;
	padding-left: 25px;
}
.consectetur {
	display: block;
	color: #fff;
	font-size: 18px;
	padding: 10px 0 0 40px;
}
.phone-number,
.mail {
	color: #fff;
	font-size: 18px;
	padding-left: 30px;
}
.reserv {
	display: block;
	color: #fff;
	font-size: 18px;
	margin-top: 200px;
	opacity: 0.4;
}

/* --(_footer-row_2_)-- */
.about-us,
.follow_us {
	color: #fff;
	font-size: 24px;
	font-weight: 600;
	padding-left: 40px;
}
.about-us-table > ul > li,
.follow-us-table > ul > li {
	list-style: none;
	color: #fff;
	margin-top: 20px;
	font-size: 18px;
}
.about-us-table,
.follow-us-table {
	margin-top: 50px;
}